body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #000;
}

a{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/*Header*/

.voorblad{
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    background: url(../img/Cover02.jpg) no-repeat center center scroll;
    background-color: #000;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.patern{
    display: table;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.titel{
    display: table-cell;
    text-transform: uppercase;
    vertical-align: middle;
    padding-bottom: 150px;
}

.maintitel{
    font-size: 70px;
    letter-spacing: 20px;
    font-weight: 700;
}

.subtitel{
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 300;
}

@media(max-width:767px) {
    .maintitel{
        font-size: 40px;
        letter-spacing: 10px;
    }
    .subtitel{
        font-size: 25px;
        letter-spacing: 5px;
    }
}

/*Navigation-Navigation-Navigation*/

.navbar-default{
    text-transform: uppercase;
    background-color: black;
    border-bottom: 0;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: 300;
}
.dikker{
    font-weight: 500;
}
.navbar-default .navbar-brand:focus {
    outline: 0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #858585;
}
.navbar-default .navbar-nav>li>a{
    color: white;
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
    color: #858585;
}
.navbar-default .nav li.active a {
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    border-radius: 10px; 
    color: black;
    background-color: #858585;
}
.navbar-default .nav li.active a:focus {
    color: black;
    background-color: #858585;
}
.navbar-default .nav li.active a:hover {
    color: black;
    background-color: #858585;
}

@media(min-width:767px) {
    .navbar {
        background-color: transparent;
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 10px 0;
        background: #000;
    }
    /*.navbar-default .navbar-nav>li>a{
        border-width: 5px;
        border-style: solid;
        border-color: hidden;
        border-radius: 10px;
        padding-top: 10px;
        padding-bottom: 10px; 
    }*/
}











/*Sections*/

#about {
    height: 100%;
    padding-top: 200px;
    text-align: center;
    background: #000;
    color: #fff;
}

#portfolio {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    /*background: #eee;*/
}

#contact {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

footer {
    height: 200px;
    padding-top: 80px;
    text-align: center;
    background: #eee;
}