body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: #000;
}

a{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/*Header*/

.voorblad{
    display: table;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    background: url(../img/Cover02.jpg) no-repeat center center scroll;
    background-color: #000;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.patern{
    display: table;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.titel{
    display: table-cell;
    text-transform: uppercase;
    vertical-align: middle;
    padding-bottom: 150px;
}

.maintitel{
    font-size: 70px;
    letter-spacing: 20px;
    font-weight: 700;
}

.subtitel{
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 300;
}

@media(max-width:767px) {
    .maintitel{
        font-size: 40px;
        letter-spacing: 10px;
    }
    .subtitel{
        font-size: 25px;
        letter-spacing: 5px;
    }
}

/*Navigation-Navigation-Navigation*/

.navbar-default{
    text-transform: uppercase;
    background-color: black;
    border-bottom: 0;
}

.navbar-default .navbar-brand{
    color: white;
    font-weight: 300;
}
.dikker{
    font-weight: 500;
}
.navbar-default .navbar-brand:focus {
    outline: 0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    color: #858585;
}
.navbar-default .navbar-nav>li>a{
    color: white;
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{
    color: #858585;
}
.navbar-default .nav li.active a {
    border-style: solid;
    border-color: transparent;
    border-width: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    border-radius: 10px; 
    color: black;
    background-color: #858585;
}
.navbar-default .nav li.active a:focus {
    color: black;
    background-color: #858585;
}
.navbar-default .nav li.active a:hover {
    color: black;
    background-color: #858585;
}

.navbar-default .navbar-toggle{
    border-color: black;
    color: white;
    text-transform: uppercase;
    border-bottom: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    color: #858585;
    background-color: transparent;
}

@media(min-width:767px) {
    .navbar {
        background-color: transparent;
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 10px 0;
        background: #000;
    }
}

/*@media(max-width:767px) {
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus{
      -webkit-animation: cssAnimation 1.514s 11 ease-in-out;
-moz-animation: cssAnimation 1.514s 11 ease-in-out;
-o-animation: cssAnimation 1.514s 11 ease-in-out;  
    }
    @-webkit-keyframes cssAnimation {
from { -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -webkit-transform: rotate(360deg) scale(1.144) skew(1deg) translate(0px); }
}
@-moz-keyframes cssAnimation {
from { -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -moz-transform: rotate(360deg) scale(1.144) skew(1deg) translate(0px); }
}
@-o-keyframes cssAnimation {
from { -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px); }
to { -o-transform: rotate(360deg) scale(1.144) skew(1deg) translate(0px); }
}*/



    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus{
/*        transform: rotate(360deg) scale(2);
-webkit-transform: rotate(360deg) scale(2);
-moz-transform: rotate(360deg) scale(2);
-o-transform: rotate(360deg) scale(2);
-ms-transform: rotate(360deg) scale(2);
    }*/
    /*a{
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }*/
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus{
        color: #858585;
    }
    .navbar-default .nav li.active a {
        border-style: solid;
        border-color: transparent;
        border-width: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 10px;
        margin-right: 100px; 
        border-radius: 10px; 
        color: black;
        background-color: #858585;
    }
    .navbar-default .nav li.active a:focus,
    .navbar-default .nav li.active a:hover {
        color: black;
        background-color: red;
        -webkit-transform: rotateX(150deg); /* Safari */
        transform: rotateX(150deg);
    }
    .navbar-default .navbar-brand{
        text-transform: capitalize;
    }
    .dikker::after{
        content: ".";
    }
}



.hvr-sweep-to-top {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}











/*Sections*/

#about {
    height: 100%;
    padding-top: 200px;
    text-align: center;
    background: #000;
    color: #fff;
}

#portfolio {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    /*background: #eee;*/
}

#contact {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

footer {
    height: 200px;
    padding-top: 80px;
    text-align: center;
    background: #eee;
}