.yellow {
  background-color: #f0db4f; }

.orange {
  background-color: #FF8C3D; }

.lorange {
  background-color: #FFBF93; }

.white {
  background-color: white; }

.grey {
  background-color: #6d6d6d; }

.lgrey {
  background-color: #c6c6c6; }

.xlgrey {
  background-color: #eeeeee; }

.black {
  background-color: #444444; }

.green {
  background-color: #2b7b4a; }

.yellow-text {
  color: #f0db4f; }

.orange-text {
  color: #FF8C3D; }

.lorange {
  color: #FFBF93; }

.white-text {
  color: white; }

.grey-text {
  color: #6d6d6d; }

.lgrey-text {
  color: #c6c6c6; }

.xlgrey-text {
  color: #eeeeee; }

.black-text {
  color: #444444; }

.green-text {
  color: #2b7b4a; }

p {
  font-size: 12px;
  line-height: 1.4; }
  @media screen and (min-width: 480px) {
    p {
      font-size: 16px;
      line-height: 1.4; } }
  @media screen and (min-width: 768px) {
    p {
      font-size: 14px;
      line-height: 1.4; } }
  @media screen and (min-width: 992px) {
    p {
      font-size: 16px;
      line-height: 1.4; } }
  @media screen and (min-width: 1200px) {
    p {
      font-size: 18px;
      line-height: 1.4; } }

h1 {
  font-size: 30px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 34px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 32px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h1 {
      font-size: 34px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 36px;
      line-height: 1.1; } }

h2 {
  font-size: 26px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h2 {
      font-size: 28px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 26px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h2 {
      font-size: 28px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h2 {
      font-size: 30px;
      line-height: 1.1; } }

h3 {
  font-size: 20px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h3 {
      font-size: 22px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 20px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h3 {
      font-size: 22px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h3 {
      font-size: 24px;
      line-height: 1.1; } }

h4 {
  font-size: 16px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h4 {
      font-size: 16px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 14px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h4 {
      font-size: 16px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h4 {
      font-size: 18px;
      line-height: 1.1; } }

h5 {
  font-size: 12px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h5 {
      font-size: 13px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h5 {
      font-size: 12px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h5 {
      font-size: 13px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h5 {
      font-size: 14px;
      line-height: 1.1; } }

h6 {
  font-size: 10px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h6 {
      font-size: 11px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h6 {
      font-size: 20px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h6 {
      font-size: 11px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h6 {
      font-size: 12px;
      line-height: 1.1; } }

html, body {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased; }

ul {
  padding: 0; }

i {
  vertical-align: middle; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a, a:active, a:focus, a:hover, a:visited, a:link {
  outline: 0;
  text-decoration: none; }

.header {
  width: 100%;
  float: left;
  margin-bottom: 1%; }

.logo {
  float: left; }

@media screen and (min-width: 640px) {
  .nav ul li {
    width: auto;
    float: left;
    margin: 5px 5px; } }
body {
  background-color: #2b7b4a;
  font-family: "Allerta Stencil", sans-serif; }

.background-image {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url(../img/background-dh-01.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  z-index: -1; }
  .background-image.no-opacity {
    opacity: 1; }
  .background-image .pattern {
    position: absolute;
    top: 4%;
    left: 2%;
    right: 2%;
    bottom: 30px;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    opacity: 0;
    -webkit-transition: all 3.5s ease-in-out;
    -moz-transition: all 3.5s ease-in-out;
    -ms-transition: all 3.5s ease-in-out;
    -o-transition: all 3.5s ease-in-out;
    transition: all 3.5s ease-in-out; }
    .background-image .pattern.no-opacity {
      opacity: 1; }

header {
  margin-top: 3%; }

footer {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 3.5s ease-in-out;
  -moz-transition: all 3.5s ease-in-out;
  -ms-transition: all 3.5s ease-in-out;
  -o-transition: all 3.5s ease-in-out;
  transition: all 3.5s ease-in-out; }
  footer.no-opacity {
    opacity: 1; }
  footer ul {
    margin-bottom: 0; }
    footer ul li {
      margin: 0 5px;
      cursor: pointer; }
      footer ul li p {
        margin-bottom: 0; }

.footer {
  float: left;
  left: 0;
  bottom: 0;
  width: 100%; }

.copyright {
  text-align: center;
  float: left;
  width: 100%; }

input, textarea {
  outline-color: #6d6d6d;
  outline-width: medium; }

.divider {
  height: 2px;
  border: none;
  color: black;
  background-color: black;
  margin: 15px 25px; }
  @media screen and (max-width: 1200px) {
    .divider {
      margin: 15px 50px; } }
  @media screen and (max-width: 768px) {
    .divider {
      height: 1px;
      margin: 10px 20px; } }
