.yellow {
  background-color: #f0db4f; }

.orange {
  background-color: #FF8C3D; }

.lorange {
  background-color: #FFBF93; }

.white {
  background-color: white; }

.grey {
  background-color: #6d6d6d; }

.lgrey {
  background-color: #c6c6c6; }

.xlgrey {
  background-color: #eeeeee; }

.black {
  background-color: #444444; }

.yellow-text {
  color: #f0db4f; }

.orange-text {
  color: #FF8C3D; }

.lorange {
  color: #FFBF93; }

.white-text {
  color: white; }

.grey-text {
  color: #6d6d6d; }

.lgrey-text {
  color: #c6c6c6; }

.xlgrey-text {
  color: #eeeeee; }

.black-text {
  color: #444444; }

p {
  font-size: 12px;
  line-height: 1.4; }
  @media screen and (min-width: 480px) {
    p {
      font-size: 16px;
      line-height: 1.4; } }
  @media screen and (min-width: 768px) {
    p {
      font-size: 14px;
      line-height: 1.4; } }
  @media screen and (min-width: 992px) {
    p {
      font-size: 16px;
      line-height: 1.4; } }
  @media screen and (min-width: 1200px) {
    p {
      font-size: 18px;
      line-height: 1.4; } }

h1 {
  font-size: 30px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h1 {
      font-size: 34px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 32px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h1 {
      font-size: 34px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h1 {
      font-size: 36px;
      line-height: 1.1; } }

h2 {
  font-size: 26px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h2 {
      font-size: 28px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 26px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h2 {
      font-size: 28px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h2 {
      font-size: 30px;
      line-height: 1.1; } }

h3 {
  font-size: 20px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h3 {
      font-size: 22px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 20px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h3 {
      font-size: 22px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h3 {
      font-size: 24px;
      line-height: 1.1; } }

h4 {
  font-size: 16px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h4 {
      font-size: 16px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 14px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h4 {
      font-size: 16px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h4 {
      font-size: 18px;
      line-height: 1.1; } }

h5 {
  font-size: 12px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h5 {
      font-size: 13px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h5 {
      font-size: 12px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h5 {
      font-size: 13px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h5 {
      font-size: 14px;
      line-height: 1.1; } }

h6 {
  font-size: 10px;
  line-height: 1.1; }
  @media screen and (min-width: 480px) {
    h6 {
      font-size: 11px;
      line-height: 1.1; } }
  @media screen and (min-width: 768px) {
    h6 {
      font-size: 20px;
      line-height: 1.1; } }
  @media screen and (min-width: 992px) {
    h6 {
      font-size: 11px;
      line-height: 1.1; } }
  @media screen and (min-width: 1200px) {
    h6 {
      font-size: 12px;
      line-height: 1.1; } }

html, body {
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased; }

ul {
  padding: 0; }

i {
  vertical-align: middle; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a, a:active, a:focus, a:hover, a:visited, a:link {
  outline: 0;
  text-decoration: none; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .row-eq-height {
      display: block; } }

.header {
  width: 100%;
  float: left;
  margin-bottom: 1%; }

.logo {
  float: left; }

@media screen and (min-width: 640px) {
  .nav ul li {
    width: auto;
    float: left;
    margin: 5px 5px; } }
html {
  height: 100%; }

body {
  height: 100%;
  background-color: #6d6d6d;
  font-family: "Ubuntu", sans-serif; }

.voorblad {
  width: 100%;
  height: 100%;
  background: url(../img/background-dh-01.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover; }
  .voorblad .patern {
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    height: 100%; }
    .voorblad .patern .verticalmiddle {
      width: 100%;
      height: 30%;
      display: table; }
      .voorblad .patern .verticalmiddle .title {
        display: table-cell;
        vertical-align: middle; }
        .voorblad .patern .verticalmiddle .title h1 {
          padding: 0 10%;
          -webkit-text-shadow: 3px 3px 5px #444444;
          -moz-text-shadow: 3px 3px 5px #444444;
          -o-text-shadow: 3px 3px 5px #444444;
          text-shadow: 3px 3px 5px #444444;
          margin-bottom: 40px; }
        .voorblad .patern .verticalmiddle .title a {
          border: 2px solid white;
          padding: 12px 30px;
          background-color: rgba(109, 109, 109, 0.2);
          color: white;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .voorblad .patern .verticalmiddle .title a:hover {
            color: #FF8C3D;
            background-color: rgba(109, 109, 109, 0.5);
            border-color: #FF8C3D; }
    .voorblad .patern .dates {
      height: 70%;
      position: relative; }
      .voorblad .patern .dates .aboutme {
        position: absolute;
        right: 2%;
        bottom: 15%;
        padding: 15px 25px;
        background-color: white; }

.footer {
  float: left;
  left: 0;
  bottom: 0;
  width: 100%; }

.copyright {
  text-align: center;
  float: left;
  width: 100%; }

input, textarea {
  outline-color: #6d6d6d;
  outline-width: medium; }

.divider {
  height: 2px;
  border: none;
  color: black;
  background-color: black;
  margin: 15px 25px; }
  @media screen and (max-width: 1200px) {
    .divider {
      margin: 15px 50px; } }
  @media screen and (max-width: 768px) {
    .divider {
      height: 1px;
      margin: 10px 20px; } }
